h1 {
    text-align: center;
    color: green;
    border: solid 10px;
    position: relative;
}

nav {
    background-color: green;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    background-color: red;
}
nav li a {
    line-height: 50px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 18px;
}

#header-img {
    width:100%;
    height: 700px;
}

#headBox {
   margin: -10%;
    display: block;

}

h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-bottom: 5px;
    font-size: 18px;
}

section {
    background-color: #ddd;
}

.column {
    float:left;
    width: 33.3%;
}

.column-inner {
    padding: 20px;
}

img {
    width: 100%;
    padding: 20px;
}

.row {
    margin-top: 15%;
}